# fly.toml app configuration file generated for utlut on 2025-12-15T10:50:29+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'utlut'
primary_region = 'ams'

[build]

[env]
  NODE_ENV = 'production'

[[mounts]]
  source = 'data'
  destination = '/app/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
